.form {
  max-width: 25rem;
  width: 95%;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  font-size: 1.15rem;
  display: block;
  margin-bottom: 0.5rem;
  color: rgb(0, 140, 255);
}

.control input {
  display: block;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(73, 173, 255);
  padding: 0.25rem;
  background-color: rgb(205, 233, 255);
}
.action {
  margin-top: 1.5rem;
}

.action button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: rgb(0, 140, 255);
  color: white;
  border: 1px solid rgb(0, 140, 255);
  font-weight: bold;
}

.action button:hover {
  cursor: pointer;
  background-color: rgb(73, 173, 255);
  border: 1px solid rgb(73, 173, 255);
}